<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/cssform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body onload="subPageContentLoad(`<%=unfilter(JSON.stringify(dbData))%>`, '<%= user_favourite %>')">
	<script type="text/javascript" src="/responsive.js"></script>
	<script type="text/javascript" src="/main.js"></script>
    <%- include('header') %>

    <main>
        <!-- Form đăng tải phim -->
        <section class="upload-film">
            <h1>Phim của bạn đã được đăng tải</h1>
        </section>
    </main>

    <footer>
        <div class="about" id="about">
            <p>Conluong - 2024</p>
        </div>
        <div class="contact">
            <p>Contact: <a href="#">Conluong@gmail.com</a></p>
        </div>
    </footer>
    <!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>