<header>
		<div class="navbar" style="background-color: #111111;">
			<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; flex-direction: column;"
				id="mySidebar">
				<button onclick="w3_close()" class="w3-bar-item w3-large">Close
					&times;</button>
				<a href="/home" class="w3-bar-item w3-button">Trang chủ</a>
				<% if (user_mod) { %>
					<a href="/admin/verify-films" class="w3-bar-item w3-button">Kiểm duyệt phim</a>
				<% } %>
				<a href="/user-uploads" class="w3-bar-item w3-button">Người dùng</a>
				<a href="/favourite" class="w3-bar-item w3-button">Yêu thích</a>
				<a href="/form" class="w3-bar-item w3-button">Đăng tải phim</a>
			</div>
			<div class="w3-teal">
				<button id="menuButton" class="w3-button w3-teal w3-xlarge" style="background-color: #111111;"
					onclick="w3_open()">☰
				</button>
			</div>
			<div class="navbar-center">
				<div class="search">
					<input type="text" id="search" placeholder="Tìm kiếm" class="search-box" onkeyup="search()"
						onfocus="searchOn()" onfocusout="searchOff()" autocomplete="off">
					<button class="search-button" onclick="searchPage()">Search</button>
					<div id="search-container"></div>
				</div>
			</div>
			<div class="navbar-right">
				<div class="user-section">
					<i class="fa fa-user"></i> <a href="/user/<%= user_name %>" id="user_name" class="user-name"><%= user_name %></a>
					<a href="/login" id="login" class="login-btn">Đăng nhập</a>
					<a href="/logout" id="logout" class="login-btn">Đăng xuất</a>
				</div>
			</div>
		</div>
		<img src="/banner.png" class="banner">
	</header>