* {
	box-sizing: border-box;
	color: var(--text-color);
  }
  body {
	  margin: 0;
	  background-color: var(--background-color);
  }
  a {
	  text-decoration: none;
	  color: var(--link-color);
  }
  a:hover{
	  color: #FF8A00;
  }
  :root {
	--nav-bar-color: #2a2a2a;
	--background-color: #111111;
	--main-content-img-width: 256px;
	--main-content-img-height: 144px;
	--sub-content-img-width: 96px;
	--sub-content-img-height: 54px;
	--footer-color: #333333;
	--link-color: #FFFFFF;
	--text-color: #FFFFFF;
	--title-color: #FF8A00;
  }
  /*navigaion bar*/
  .nav>li>a{
	  font-size: 18px;
	  font-weight: bold;
	  margin: 10px;
  }
  header ul{
	  list-style-type: none;
	  padding: 0;
  }
  .nav{
	  background-color: var(--nav-bar-color);
	  width: 100%;
	  margin: 0;
	  padding: 0 10%;
  }
  .nav li {
	  display: inline-block;
	  height: 100%;
	  padding-top: 10px;
  }
  header ul a{
	  display: block;
	  text-align: center;
	  height: inherit;
  }
  .dropdown{
	  position: absolute;
	  display: none;
	  background-color: #333333;
	  border-radius: 3px;
  }
  .dropdown li{
	  padding: 5px;
	  margin: 5px 0;
  }
  .dropdown li a{
	  width:auto;
  }
  .dropdown-row li:first-child{
	  margin-left: 5px;
  }
  .dropdown-row li:last-child{
	  margin-right: 5px;
  }
  .nav li:hover{
	  background-color: #222;
  }
  .nav li:hover>a{
	  color: #FF8A00;
  }
  .dropbox:hover .dropdown{
	  display: block;
  }
  /*search*/
  .search{
	  float: right;
  }
  .search ul {
	  width: inherit;
	  max-height: 192px;
	  position: absolute;
	  overflow-y: scroll;
	  overflow-x: hidden;
  }
  .search ul li {
	  display: none;
	  background-color: #333333;
	  height: auto;
	  padding: 10px;
	  width: 200px;
  }
  .search-box{
	  width: 200px;
	  margin: 5px;
	  padding: 5px;
	  margin-bottom: 7px;
	  color: black;
  }
  /*banner*/
  .banner {
	  width: 100%;
	  height: 200px;
  }
  /*main*/
  main {
	  width: 80%;
	  margin: 10px auto;
	  min-height: 75vh;
  }
  /*main content*/
  .main-content{
	  /*border: 3px outset #2d2d2d;
	  border-radius: 3px;*/
	  padding: 0 auto;
	  display: block;
	  float: left;
	  margin: 20px auto;
	  max-width: 900px;
  }
  .main-content .title{
	  margin: 15px 0;
	  font-size: 32px;
	  color: var(--title-color);
	  text-decoration: underline;
	  text-decoration-thickness: 2px;
	  text-decoration-color: #636363;
	  text-underline-offset: 5px;
  }
  .main-content .content{
	  display: inline-block;
	  margin: 10px;
	  width: 260px;
  }
  .main-content .content img{
	  width: var(--main-content-img-width);
	  height: var(--main-content-img-height);
  }
  .main-content .content .name{
	  margin-top: 0;
	  font-size: 18px;
	  font-weight: bold;
	  overflow: hidden;
	  max-width: var(--main-content-img-width);
	  max-height: 20px;
  }
  .main-content .content a{
	  display: block;
	  text-align: left;
  }
  /*button*/
  .button-container{
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .button-container button{
	  padding: 10px;
	  color: black;
	  display:flex;
	  margin: 30px 5px;
	  font-weight: bold;
	  border: 0px;
  }
  .button-container button:hover{
	  background-color: #ff8a00;
	  cursor: pointer;
  }
  /*sub content*/
  .sub-content {
	  /*border: 3px outset #2d2d2d;
	  border-radius: 3px;*/
	  display: block;
	  float: left;
	  margin: 20px auto;
	  overflow: auto;
  }
  .sub-title {
	color: var(--title-color);
  }
  .sub-title:hover{
	color: white;
  }
  .sub-content .content{
	  margin: 20px 0;
	  display: block;
  }
  .sub-content .title{
	  margin: 15px 0;
	  font-size: 32px;
	  color: var(--title-color);
	  text-decoration: underline;
	  text-decoration-thickness: 2px;
	  text-decoration-color: #636363;
	  text-underline-offset: 5px;
  }
  .sub-content .content img{
	  width: var(--sub-content-img-width);
	  height: var(--sub-content-img-height);
  }
  .sub-content .content .details{
	  display: inline-block;
	  vertical-align: top;
	  padding: 5px;
	  padding-top: 0;
	  overflow-wrap: break-word;
	  overflow: hidden;
	  max-width: 200px;
	  max-height: 56px;
  }
  .sub-content .content .details .name{
	  font-size: 18px;
	  font-weight: bold;
  }
  .sub-content .content .details .description{
	  font-size: 16px;
	  margin-top: 0;
  }
  /*video page*/
  .details .name {
	  margin: 0;
  }
  /*footer*/
  footer {
	  display: flex;
	  width: 100%;
	  background-color: var(--footer-color);
	  padding: 0 10%;
	  font-weight: bold;
	  font-size: 16px;
  }
  footer .about{
	  width: 50%;
  }
  footer .contact{
	  width: 50%;
	  text-align: right;
  }
  /*button animate*/
  button.previousButton,button.nextButton{
	  background-color: #FF8A00; 
	  color: #ffffff; 
	  padding: 10px 20px; 
	  border: none; 
	  border-radius: 5px; 
	  font-size: 16px; 
	  font-weight: bold; 
	  cursor: pointer; 
	  transition: background-color 0.3s ease, transform 0.2s ease; 
  }
  
  button.previousButton:hover,button.nextButton:hover {
	  background-color: #FF8A00; 
	  transform: scale(1.05); 
  }
  
  button.previousButton:active,button.nextButton:active {
	  background-color: #955206; 
	  transform: scale(0.95); 
  }
  
  
  /* <!-- FLOAT BUTTON -->  */
  .float{
	  position:fixed;
	  width:60px;
	  height:60px;
	  bottom:40px;
	  right:40px;
	  background-color:#FF8A00;
	  color:#000000;
	  border-radius:50px;
	  text-align:center;
	  box-shadow: 2px 2px 3px #999;
  }
  .my-float{
	  margin-top:22px;
  }
  /*favourite*/
.film-name{
	display: inline-block;
}
#fav-form{
	display: inline-block;
	margin-left: 20px;
}
.fav-btn{
	padding: 5px 10px;
}
.fav-btn b{
	color: black;
}
/* Username dropdown */
.username {
    position: relative;
    display: inline-block;
}

.username .dropdown-logout {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 3px;
    min-width: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.username:hover .dropdown-logout {
    display: block;
}

.username .dropdown-logout li {
    padding: 10px;
    text-align: left;
}

.username .dropdown-logout li a {
    color: white;
    text-decoration: none;
}

.username .dropdown-logout li:hover {
    background-color: #FF8A00;
}
/*register - login*/

.rl-form {
    width: 100%;
    max-width: 400px;
    margin: 50px auto; 
    background-color: #2f2f2f; 
    padding: 10px 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif;
}

.rl-form h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    /* color:#FF8A00; */
    margin-bottom: 20px;
}

.rl-form p {
    color: red; 
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.rl-form .form-input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff; 
    color: black;
    /* transition: border-color 0.3s ease, box-shadow 0.3s ease; */
}


.rl-form .form-input:focus {
    border-color: #FF8A00; 
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); 
    outline: none; 
}


 .form-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #FF8A00; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    /* transition: background-color 0.3s ease, transform 0.2s ease; */
}


.rl-form .form-button:hover {
    background-color: #000000; 
}

.rl-form .form-button:active {
    background-color: #252525; 

}
/* sub text */
#sub-text{
	font-size: 16px;
	display: none;
}
/*Upload film*/
.upload-film {
    max-width: 600px;
    margin: 40px auto;
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.upload-film h1  {
    text-align: center;
    margin-bottom: 20px;
    color: #FF8A00;;
    font-weight: bold;
}

.upload-film .form-group {
    margin-bottom: 15px;
}

.upload-film label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-film input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.upload-film input, textarea {
    resize: vertical;
    color: black; 
}

.upload-film .submit-btn {
    width: 100%;
    padding: 10px;
    background: #FF8A00;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.upload-film .submit-btn:hover {
    background: #000000;
    color: #FF8A00;
}
.upload-film option {
    color: black;
}
.upload-film select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.upload-film select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px #FF8A00;
}