<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body onload="loadFilm('<%= url %>', `<%=JSON.stringify(dbData)%>`)">
	<script type="text/javascript" src="/responsive.js"></script>
	<script type="text/javascript" src="/main.js"></script>
    <header>
		<ul class ="nav">
			<li><a href="/home">Trang chủ</a></li>
			<li><a href="#about">Thông tin</a></li>
			<li class="dropbox">
				<a href="#">Năm phát hành</a>
				<ul class="dropdown">
					<div class="dropdown-row"> 
						<li><a href="/year/2016">2016</a></li>
						<li><a href="/year/2017">2017</a></li>
						<li><a href="/year/2018">2018</a></li>
					</div>
					<div class="dropdown-row"> 
						<li><a href="/year/2019">2019</a></li>
						<li><a href="/year/2020">2020</a></li>
						<li><a href="/year/2021">2021</a></li>
					</div>
					<div class="dropdown-row"> 
						<li><a href="/year/2022">2022</a></li>
						<li><a href="/year/2023">2023</a></li>
						<li><a href="/year/2024">2024</a></li>
					</div>
				</ul>
			</li>
			<li><a href="/form">Thêm phim</a></li>
			<li class="search">
				<input type="text" id ="search" placeholder="Tìm tên phim" class="search-box" onkeyup="search()" onfocus="searchOn()" onfocusout="searchOff()" autocomplete="off">
				<ul id = "search-container">
				</ul>
			</li>
		</ul>
		<img src="/banner.png" class="banner">
    </header>
    <main>
		<iframe id="video" width="1152" height="648" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<div class="details" id="details">
			<h1 class="name">Con luong</h1>
			<p class="description">Ngay xua ngay xua co mot con luong, can duong bla bla alabama skibidi </p>
		</div>
		<hr>
    </main>
    <footer>
		<div class="about" id="about">
			<p>Conluong - 2024</p>
		</div>
		<div class="contact">
			<p>Contact: <a href="#">Conluong@gmail.com</a></p>
		</div>
    </footer>
	<!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>