<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body onload="yearFilmContent('<%= url %>', `<%=JSON.stringify(dbData)%>`)">
	<script type="text/javascript" src="/responsive.js"></script>
	<script type="text/javascript" src="/main.js"></script>
    <%- include('header') %>
    <main>
		<!--main content-->
		<section class="main-content" id="main-content">
			<h1 class="title"></h1>
				<span class="content">
					<a class="img-container" href="test1.html#1"><img src="https://i.ytimg.com/vi/C7OQHIpDlvA/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#1">The Wait</a>
				</span>
				<span class="content">
					<a class="img-container" href="test1.html#2"><img src="https://i.ytimg.com/vi/OrOYvVf6tIM/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#2">Other Side of the Box</a>
				</span>
				<span class="content">
					<a class="img-container" href="test1.html#3"><img src="https://i.ytimg.com/vi/mhazCS14Tas/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#3">THE CHAIR</a>
				</span>
				<span class="content">
					<a class="img-container" href="test1.html#4"><img src="https://i.ytimg.com/vi/BI9fKfX5V68/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#4">Portrait of God</a>
				</span>
				<span class="content">
					<a class="img-container" href="test1.html#5"><img src="https://i.ytimg.com/vi/IyhoT3smJEQ/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#5">The Kid and the Camera</a>
				</span>
				<span class="content">
					<a class="img-container" href="test1.html#6"><img src="https://i.ytimg.com/vi/thpF81-wrMs/maxresdefault.jpg" class="content-img"></a>
					<a class="name" href="test1.html#6">The Loop</a>
				</span>
				<!--button-->
			<div class="button-container">
					<button class="previousButton" id="previousButton" onclick = "previousContent()">Trước</button>
					<button class="nextButton" id="nextButton" onclick = "nextContent()">Sau</button>
				</div>
		</section>
    </main>
    <footer>
		<div class="about" id="about">
			<p>Conluong - 2024</p>
		</div>
		<div class="contact">
			<p>Contact: <a href="#">Conluong@gmail.com</a></p>
		</div>
    </footer>
	<!-- FLOAT BUTTON -->  
	<a href="/home" class="float">
        <i class="fa fa-home my-float"></i>
        </a>
</body>

</html>